input, button {
    display: block;
    margin-bottom: 10px;
}

#contenedor-mensajes {
    position: absolute; 
    top: 10px;  /*arriba */    
    right: 10px; /*derecha */
}

.mensaje {
    padding: 10px;
    color: white;
}

.exito { background-color: blue; }
.error { background-color: red; } 